body {
    margin: 0px; 
    font-family: "Roboto", sans-serif; 
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    background-color: #1F2937;
}
ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 20px;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
    opacity: 0.75;
}

.content {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 50px;
}

.content,
.header {
    margin: 0px 200px;
    color: white;
    justify-content: space-between;
}

.beside {
    display: flex;
    flex-flow: column wrap;
    padding: 0px;
    margin: 0px;
    width: 750px;
    gap: 15px;
}

h1 {
    margin: 0px;
}

.signup {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 0px;
    border-radius: 8px;;
    font-size: 16px;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 75px;
    gap: 50px;
}

.images {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    font-size: 18px;
}

.image {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    gap: 15px;
}

.pic {
    max-width: 100%;
    height: auto;
    /* border: 6px solid #3882F6; */
    border-radius: 16px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    flex-flow: column;
    padding: 100px 400px;
    text-align: justify;
    gap: 25px;
}

#awesome,
#random {
    font-weight: 900;
    margin: 0;
    padding: 0px;
}

#awesome {
    font-size: 48px;
}

#random {
    font-size: 36px;
    color: #1F2937;
}

.logo {
    align-content: center;
    justify-content: center;
}

.dog {
    width: 75px;
    height: 75px;
    margin-left: -15px;
}

.prince {
    display: flex;
    flex-direction: row;
}

#thor {
    align-self: end;
    font-weight: bold;
    font-size: 24px;
}

h2,
p {
    margin: 0px;
    padding: 0px;
}

.border {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 75px 250px;
    background-color: #3882F6;
    color: white;
    border-radius: 16px;
    align-items: center;
}

.signup2 {
    color: white;
    font-weight: bold;
    width: 125px;
    height: 40px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 16px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}